.wrapper {
  margin-left: 80px;
  padding: 0;
}

.navItem {
  display: inline-block;
  margin-right: 50px;
  list-style: none;

  &Link {
    text-decoration: none;
    color: #818181;
    font-size: 1em;

    &Active {
      color: #6ab662;
      font-weight: 700;
    }
  }
}
