.wrapper {
  display: grid;
  grid-template-columns: 140px 250px 1fr 200px;
  align-items: center;
  padding: 40px 50px;
}

.logo {
  width: 100%;
}

.title {
  font-family: "Galaxy Black", serif;
  font-size: 1.6em;
  text-align: center;
}
